<button id="getEmployees" class="btn btn-primary" onclick="">GetEmployees</button>

@section Scripts
{
	<script>
    $("#getEmployees").on("click", function(){
	 alert("getEmployess");
});
	</script>
	
}